.card {
  margin-right: 10px;
  margin-top: 10px !important;
}


#newPost {
  width: 100%;
}

#postInput {
  margin: 0 auto;
  width: 100%;
  height: 75px;
  resize: none
}

#postButtons{
  float: right;
}

.userAction {
  display: block;
}


.commentField {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  clear: both;
  width: 100%
}

.com-in {
  width: 100%
}

.hidden {
display: none !important;
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 5px;
  right: 60px;
}
