.card {
  margin-right: 10px;
  margin-top: 10px !important;
}


#newPost {
  width: 100%;
}

#postInput {
  margin: 0 auto;
  width: 100%;
  height: 75px;
  resize: none
}

#postButtons{
  float: right;
}

.userAction {
  display: block;
}


.commentField {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  clear: both;
  width: 100%
}

.com-in {
  width: 100%
}

.hidden {
display: none !important;
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 1px 3px;
  font-size: 10px;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 5px;
  right: 60px;
}


/*===========================*/
#av-in {
  opacity: 0;
  position: absolute;
  z-index: -1
}

.av-btn {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
}


/*=============================*/
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*=======LigtBox=================
