/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */

 .profile-header{
   overflow: hidden
 }

 .edit-cover{
   position: absolute;
   top: 100%;
   color: black;
   background-color: rgba(255, 255, 255, 0.5);
   padding-left: 5px;
   padding-right: 5px;
   border-top-right-radius: 7px;
   left: 0px;
   z-index: 1000
 }.edit-cover:hover{
   color: white;
   background-color: rgba(0, 0, 0, 0.25);
 }

 @media (min-width: 0px) {
   .edit-cover {
     top: 109%;
   }
 }

 @media (min-width: 568px) {
   .edit-cover {
     top: 107%;
   }
 }

 @media (min-width: 768px) {
   .edit-cover {
     top: 105%;
   }
 }


 .profile-avatar{
   position: relative;
   overflow: hidden;
 }


 .edit-avatar {
   color: black;
   background-color: rgba(255, 255, 255, 0.5);
   width: 100%;
   height: 40%;
   position: absolute;
   padding-top: -5px;
   border-top-right-radius: 100%;
   border-top-left-radius: 100%;
   top: 82%;
   text-align: center;
 }.edit-avatar:hover{
   color: white;
   background-color: rgba(0, 0, 0, 0.25);
 }

@media (max-width: 768px) {
  .edit-avatar {
    top: 75%
  }
}

 .preview-project{
   width: 50%;
   display: inline-block;
   letter-spacing: 8px;
   height: 50px;
   padding-top: 15px;
   font-weight: 500;
   border-right: 1px solid rgba(0,0,0,0.125)
 }

 .post-project{
   width: 50%;
   display: inline-block;
   letter-spacing: 8px;
   height: 50px;
   padding-top: 15px;
   font-weight: 500;
 }

 .preview-section{
   padding-top: 40px;
   height: 108px;
   text-align: center;
 }


 .collab-info {
   font-size: 10px
 }

 .project-prev{
   width: 33%;
   display: inline-block;
 }

 .project-next{
   width: 33%;
   text-align: right;
   display: inline-block;
 }

  .project-optional {
    width: 33%;
    text-align: center;
    height: 20px;
    display: inline-block;
    font-weight: 500;
  }

  .collab-cancel-x{
    position: absolute;
    left: 3.5px;
    top: -4px;
  }

  .collab-cancel{
    position: absolute;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 12px;
    z-index: 100;
    left: 50px;
    background-color: #c6cad1;
    padding-bottom: 1px;
    padding-right: 1px;
    color: white;
    cursor: pointer
  }

  .collab-av {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .collab-name {
    font-weight: 600
  }

  .collab {
    color: #3097D1;
    display: inline-block;
    position: relative;
    padding-top: 5px
  }

  .collabs-action {
    width: 100%;
    text-align: center;
  }

  .collabs-input{
    width: 60%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    resize: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    height: 33px;
    font-size: 25px;
    line-height: 25px;
  } .collabs-input:focus{
    outline: none
  }

  .found-collabs{
    width: 60%;
    position: absolute;
    margin-left: 20%;
    z-index: 1;
    max-height: 145px;
    overflow: scroll
  }

  .collab-search-av {
    height: 25px;
    width: 25px !important;
  }

  .collab-search-user {

    padding: 5px !important;
    text-align: left;
  }

  .collab-search-user-selected {
    background-color: #d0dde5;
    padding: 5px !important;
    text-align: left;
  }

  .tag {
    background-color: rgba(91,192,222,0.5);
    color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    border-radius: 20px;
    padding-bottom: 6px;
    margin: 2px;
    display: inline-block;
    white-space: nowrap;
    font-size: 15px
  }

  .tag-cancel{
    background-color: rgb(0, 0, 0, 0.5);
    overflow: visible;
    width: 200px;
    height: 200px;
    color: white;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 100%;
    cursor: pointer
  }

  .tags-input {
    width: 50%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    resize: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    height: 33px;
    font-size: 25px;
    line-height: 25px;
  } .tags-input:focus{
    outline: none
  }

  .tags-display{
    white-space: ;

  }

  .tags-info {
    font-size: 12px;
    height: 25px;
    padding-right: 5px;
  }

  .tags-action {
    margin-left: 25%;
    display: inline !important;
  }

  .add-tag{
    color: #5bc0de;
    font-size: 35px;
    position: absolute;
    bottom: 8px;
    right: 22%
  }

 .project-title-input {
   font-size: 25px;
   border: 0px;
   resize: none;
   line-height: 25px;
 }

 .project-title-input:focus{
   outline:none
 }

 .project-description-input {
   font-size: 25px;
   border: 0px;
   resize: none;
   line-height: 25px;
   text-align: center;
   padding-top: 3rem
 }
 .project-description-input:focus {
   outline: none
 }

 .description-populated{
   outline: none;
   text-align: left;
   font-size: 1em;
   line-height: 1em;
   padding-top: 5px;
   padding-left: 5px;
   height: 94px;
   resize: none;
   border: 0px
 }

 .description-populated:focus{
   outline: none;
 }

 .project-form {
   border: 1px solid rgba(0, 0, 0, 0.125);
   border-top: 0px;
   border-bottom-left-radius: 0.25rem;
   border-bottom-right-radius: 0.25rem;
   color: rgb(91, 192, 222)
 }

 .timeline-item {
   float: left;
   width: 33%;
   height: 20px;
   border-top: 5px solid #3097D1;
   position: relative;
   text-align: center;
   padding-top: 15px;
 }

 .timeline-input {
   width: 38%;
   background-color: #f5f8fa;
   border: 0px solid rgba(0, 0, 0, 0.125);
   margin-top: 0px;
   margin-bottom: 4px;
   font-size: 30px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.125);
   padding-bottom: 0px;
   text-align: center;
   line-height: 20px;
   color: #3097D1;
 }

 .select-indicator{
   float: right;
 }


 .timeline-input:focus {
   outline: none;
 }



 .left {
   left: 0 !important
 }

 .right {
   right: -150% !important;
 }

 .inner-ball {
   background: #3097D1;
   width: 25px;
   height: 25px;
   border-radius: 100%;
   margin-top: 2px;
   margin-left: 2px;
   padding-top: 1px;
   padding-left: 1px;
   color: white;
 }

 .timeline-ball-left {
   width: 33px;
   height: 33px;
   border-radius: 100%;
   border: 2px solid#3097D1;
   left: -5px;
   background: white;
   position: absolute;
   bottom: 1px;
 }

 .timeline-ball-right {
   width: 33px;
   height: 33px;
   border-radius: 100%;
   border: 2px solid#3097D1;
   right: -3%;
   background: white;
   position: absolute;
   bottom: 1px
 }

 .timeline-ball {
   width: 20px;
   height: 20px;
   border-radius: 100%;
   border: 2px solid#3097D1;
   background: white;
   margin-left: auto;
   margin-right: auto;
   margin-top: -28px;
 }

 .timeline-ball-selected{
   width: 30px;
   height: 30px;
   border-radius: 100%;
   border: 3px solid #5cb85c;
   background: white;
   padding-top: 4px;
   z-index: 4;
   margin-left: auto;
   margin-right: auto;
   margin-top: -33px;
   position: relative;
 }

 .timeline-ball-text{
   color: #3097D1;
   position: relative;
   bottom: 3px;
   font-weight: 800;
   margin-bottom: 0px
 }

 .timeline-ball-text-selected{
   color: #5cb85c;
   position: relative;
   bottom: 3px;
   font-weight: 800;
   margin-bottom: 0px;
 }

 .timeline {
   width: 100%;
   padding-top: 15px;
   height: 0;
   text-align: center;
   margin-top: 5px;
 }

 .timeline-form {
   width: 100%;
   height: 100px;
   background: #f5f8fa;
   border: 1px solid rgba(0, 0, 0, 0.125);
   text-align: center;
 }



 .card {
   margin-top: 10px !important;
 }

 .search{
   padding-right: 10px !important
 }

 #postCardT {
   padding: 0px !important;
   border: 0px;
   /* flex-direction: row; */
   /* height: 150px */

 }

 .project-tab {
   width: 100%;
   float: left;
   height: 100%;
   background-color: #f5f8fa
 }

 .pro-tab {
   display: inline;
   width: 50%;
   float: left;
   border-top-left-radius: 0.25rem;
   border-top-right-radius: 0.25rem;
  text-align: center;
  box-shadow: inset  0 -7px 9px -7px rgba(0,0,0,0.6);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  height: 40px;
  position: relative;
 }

 .caret{
    position: absolute;
    bottom: -2%;
    left: 50%;
    content: '';
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.caret-top {
   position: absolute;
   bottom: -7px;
   left: 50%;
   content: '';
   margin-left: -10px;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #fff;
   z-index: 2
}

.caret-border{
  position: absolute;
  bottom: -6px;
  left: 50%;
  content: '';
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.125);
  z-index: 1
}

 .project-text {
   padding-top: 9px;
   padding-bottom: 5px;
   margin: 0 auto;
   line-height: 15px;
   font-size: 15px

}


 .main-form {
   display: inline;
   width: 100%;
   height: 140px;
   float: right;
   border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 0px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
 }


 #postForm {
   width: 100%;
 }

 .post-input {
   margin: 0 auto;
   width: 100%;
   height: 100px;
   resize: none;
   border: 0px;
 }
 .post-input:focus {
   outline: none;
 }



 .post-btns{
   font-size: 30px;
   position: absolute;
   right: 20px;
   bottom: -3px;
 }





 .userAction {
   display: block;
 }


 .comment-form {
   border: 1px solid rgba(0, 0, 0, 0.125);
   border-radius: 25px;
   clear: both;
   width: 100%;
   background-color: #f5f8fa
 }

 .com-in {
   border: 1px solid rgb(0, 0, 0, 0.125);
   width: 100%;
   height: 30px;
   border-radius: 20px
 }

 .com-in:focus {
   outline: none !important
 }

 .hidden {
   visibility: hidden !important;
 }

 .button__badge {
   background-color: #fa3e3e;
   border-radius: 2px;
   color: white;
   padding: 1px 3px;
   font-size: 10px;
   position: absolute; /* Position the badge within the relatively positioned button */
   top: 5px;
   right: 60px;
 }

 .card-profile-img{
     height: 100px;
     width: 100px;
     background-size: cover;
     background-position: center;
     display: inline-block
 }


 /*===========================*/
 #av-in {
   opacity: 0;
   position: absolute;
   z-index: -1
 }

 .av-btn {
   position: absolute;
   left: 50%;
   top: 45%;
   transform: translate(-50%,-50%);
 }

/*=============================*/
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* docs overrides */
.highlight {
  background-color: #fff;
  border-color: #d3e0e9;
}


/* general overrides */
.list-group-item .glyphicon {
  line-height: 1.4;
}
.modal-header .close {
  margin-top: 4px;
}
strong {
  font-weight: bold;
}


/* navbar */
.app-navbar {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  width: 100vw !important
}
.app-navbar .form-control {
  box-shadow: none;
}
.app-navbar .navbar-brand img {
  width: 85px;
}
.app-navbar .navbar-collapse {
  max-height: inherit;
}
.app-navbar .navbar-collapse:after {
  height: 100vh;
}
.app-navbar .form-control {
  border-color: #1C73A5;
}
.app-navbar .app-notifications {
  margin-left: 1rem;
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}
.app-notifications .icon:before {
  font-size: 20px;
}
@media (min-width: 768px) {
  .app-navbar .navbar-collapse:after {
    height: auto;
  }
}
@media (max-width: 768px) {
  .app-search {
    margin-top: -1px;
  }
}


/* misc */
.app-login-form {
  max-width: 280px;
  margin-top: -60px;
}
.app-new-msg {
  margin-right: 10px;
}
.app-brand {
  width: 40%;
  display: inline-block;
}
.app-brand img {
  width: 100%;
}
